{
    margin: 0;
    padding:0;
    font-family:sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
}

.card{
    position: relative;
    width:320px;
    height:350px;
    background:#f1f1f1ff;
    border-radius: 20px;
    overflow: hidden;
}

.shade1{
    position: absolute;  
    opacity: ;
    width:100%;
    height:150%;
    left:-200px;
    z-index:0;
    background:#c7c7c7ff;
    opacity: 17.3%;
    border-radius: 20px;
    overflow: hidden;
    transform:skewX(20deg)
  
}
.shade2{
    position: absolute;
    width:100%;
    height:150%;
    right:-200px;
    z-index:1;
    background:#c7c7c7ff;
    opacity: 17.3%;
    border-radius: 20px;
    overflow: hidden;
    transform:skewX(-20deg)
}

.Top3Colours{
    position:absolute;
    width:280px;
    height:3px;
    left:20px;
    z-index:2;
}

.bottom3Colours{
    position:absolute;
    bottom:0px;
    width:280px;
    height:3px;
    left:20px;
    z-index:2;
}
#red{
    position:absolute;
    width: 93px;
    height: 3px;
    background-color: #fb3131ff;
}
#yellow{
    position:absolute;
    left:93px;
    width: 93px;
    height: 3px;
    background-color: #ffd335ff;
}
#blue{
    position:absolute;
    left:186px;
    width: 93px;
    height: 3px;
    background-color: #507deaff;
}

.card:hover .shade1{
    transform: skewY(65deg);
    transition:0.5s;
}
.card:hover .shade2{
    transform: skewY(-65deg);
    transition:0.5s;
}