.Line{
    
    position: absolute;       z-index: 2;
    font-weight: 600;
    color: #4d4d4dff;
    font-family: "Microsoft Tai Le";
    font-size: 28px;
 
}
#LINE1{ position: absolute; top:10px;left:15px;}
#LINE2{ position: absolute; top:43px;left:15px;}
#LINE3{ position: absolute; top:76px;left:15px;}

@keyframes AdAnimation{
    from{
         color: rgb(0, 107, 173);
    }
    to{
        color: #02dc2afe;
    }
}

#LINE4{
    position: absolute;
    top:110px;
    z-index: 2;
    left:15px;
animation-name: AdAnimation;
animation-iteration-count: infinite;
animation-duration: 6s;
}

.danceBOX{
    overflow:hidden;
    position: absolute;
    z-index: 0;
    top:0;
    right:0;
    width:200px;
    height: 140px;
    background-color:white;
     animation-name: AdAnimation2; 
animation-iteration-count: infinite;
animation-duration: 15s;
border-top-left-radius:20px ;
border-bottom-left-radius:5px ;
animation-direction: alternate; */ 


-webkit-backdrop-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter:blur(5px);
-ms-filter:blur(5px);
filter:blur(5px);

}

.DanceLight{
    z-index: 0;
    width:80px;
    height: 80px;
    border-radius: 180px;
    -webkit-backdrop-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter:blur(20px);
    -ms-filter:blur(20px);
    filter:blur(20px);
}
#dance1{position: absolute;background-color: #5ea2ecfe; top: 67px; left: -19px;}

#dance2{top: 69px; position: absolute; background-color: #fd5353fe;left: 138px;}

#dance3{ position: absolute; background-color: #ffe951fe; top: -4px; left: 64px;}

#dance4{position: absolute; background-color: #5ea2ecfe; top: 69px; left: 136px;}

#dance5  { position: absolute;background-color: #fd5353fe;top: -3px;left: -23px;}

#dance6{ position: absolute; background-color: #ffe951fe; top: 72px;  left: 59px;}

#dance7{ position: absolute;width: 46px; background-color: #fd5353fe;top: 85px;left: 88px;}

#dance8{ position: absolute; background-color: white;top: 43px;left: 32px;}


@keyframes AdAnimation2{
    0%{

        right:0px;
        width: 0px;
        opacity:60%;
    }
    25%{
        position: absolute;
        right:10px;
        width:210px;
        opacity: 0%;
    }
    40%{
        position: absolute;
        right:0px;
        width: 210px;
    }
    50%{
        position: absolute;
        right:0px;
        width:210px;
        opacity: 40%; 
    }
    75%{
        position: absolute;
        left:0px;
        width: 0px;
    }
    85%{
        opacity: 30%;
        position: absolute;
        left:0px;
        width: 210px;
    }
    95%{
        position: absolute;
        right:0px;
        width: 210px;
    }
    100%{
        background-color #ffe118ff;
        opacity: 20%;
        position: absolute;
        right:0px;
        width: 0px;
    }
}




#MainPageBottomAd{
    position: relative;
    top: 472px;
    left: 10px;
    display: flex;
    width: 1500px;
    height: 440px;
    overflow: hidden;
    flex-direction: row;
   
}


.AdContainer img{
    width: 1500px;
    height: 440px;
}
