h1{
    font-family: "Century Gothic";
}

ul{
    list-style:none;
    display:flex;
}

.BOARD{

    width:370.100px;
    height:235.926px ;
}

.CRAFT{
    position: relative;
    width:270px;
    top:-20px;
    left:20px;
    text-align: left;
    justify-content: center;

}

.CRAFT h1{
    font-size: 25.38976097px;
    font-weight:2;
    color:#4d4d4dff;
}






.FOCALPOINT{
    position: relative;
    top:-75px;
    text-align: center;
    justify-content: center;
    
}

.FOCALPOINT h1{
    font-size: 63.38951874px;
    font-weight:2;
    color:#4d4d4dff;
}






.OF{
    position: relative;
    width:70px;
    top:-129px;
    left:15px;
    text-align: left;
    justify-content: center;
    
}

.OF h1{
    font-weight:2;
    font-size: 66px;
    color:#4d4d4dff;
}









.GOAN{
    position: relative;
    width:276.249px;
    height: 88.960px;
    top:-265px;
    left:100px;
}

.GOAN ul{
    position: relative;
    right:30px;
    bottom:10px;
    justify-content: center;
}

.GOAN ul li{
    font-family: Jokerman;
    font-size:80px;

}

.BLUE{
    color: #2a83e5ff;
}

.RED{
    color: #fc1b1bff;
}

.YELLOW{
    color: #ffe118ff;
}





.CREATIVITY{
    position: relative;
    width:368.439px;
    height: 70.291px;
    top:-318px;
    left:15px;

}

.CREATIVITY h1{
    font-weight:2;
    font-size: 65.14629364px;
    color:#4d4d4dff;
}



.STAND{
    position: relative;
    display: flex;
    flex-direction: column;
    top:-245px;
    left: 80px;
    width:210px;
    height: 40px;
    transform: rotateZ(270deg);   
}
.VFL1{
    position: relative;
    min-width: 210px;
    width:100%;
    height: 20px;
    font-family: "Century Gothic";
    font-size: 20.91184235px;
    color: #00000074;

}

.VFL2{
    position: relative;
    width:198.902px;
    height: 20px;
    min-width: 210px;
    font-family: "Century Gothic";
    font-size: 20.91184235px;
    color: black;
}