body{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}

.dropdown{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 12px 16px;
}

.dropdown a:hover{
    background-color: #ddd;
}

#navlist div:hover .dropdown{
    display: block;
}

.ItemSection{
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ItemSectionHeader p{
    color: #333333;
    font-size: 21px;
    font-weight: bolder;
    width: 50%;
    margin: 0;
}
.ItemSectionHeader hr{
    margin-bottom: 30px;
}

.adds{
    overflow-x:scroll;     
    white-space: nowrap;
}
.adds img{
    height: 330px;
    margin-right: 27px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.red1{
    background-color: #FE3F3F;
    opacity: 75.6%;
}
.red2{
    background-color: #FE3F3F;
    opacity: 93%;
}
/* .blue1{
    background-color: #6088EB;
    opacity: 75.6%;
}
.blue2{
    background-color: #6088EB;
    opacity: 93%;
} */

.list1, .list2{
    display: flex;
    height: 300px;
}

.itemcard{
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 250px;
    background-image: url("images/itemback.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.item{
    width: 240px;
    height: 230px;
    margin: 20px auto;
}
.item img{
    width: auto;
    height: 45%;
    box-shadow: 4px 4px 20px gray;
}
.item p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size:x-large;
}

#imageContainer div{
    width: 100vw;
}

#leftImage{
    position: relative; 
    left:4.5vw
}
#rightImage{
    margin-left: 38vw; 
}
#rightImage img{
    margin-left: 12%; 
}
.navdiv{
    width:100%;
    height: 22px;
}

#navlist{
    display: flex;
    color: white;
    position: relative;
    top:-33px;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}
#navlist div{
    margin:0 auto;
}
#navlist div input{
    border-radius: 30px;
    width: 528px;
    height: 24px;
    padding-left: 30px;
    position: relative;
    top: -3px;
}

footer{
    background-color: #DF2800;  /*d33a2c*/
    color:white;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Georgia,Serif;
    font-size: 20px;
}
#footercontent1, #footercontent2{
    display: flex;
    flex-direction: row;
}
#newsletter{
    display: flex;
    justify-content: center;
}
#newsletter div p{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 24px;
}
#newsletter div input{
    border-radius: 30px;
    width: 400px;
    height: 30px;
    padding-left: 30px;
    font-size: 14px;
}
.button{
    border: none;
    border-radius: 30px;
    background-color: #4CAF50;  /* #008CBA Blue */
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#content1, #content2{
    margin: 55px auto;
}
#content3, #content4{
    margin: 30px 280px;
}
#content1 div, #content2 div, #content3 div{
    width: 204px;
}
#content1 div, #content2 div, #content3 div, #content4 div{
    padding-bottom: 3px;
}