body{
    margin: 0;
    padding:0;
}

#imageContainer{
    display: flex;
}
#imageContainer div{
    height: fit-content;
}
#rightImages img{
    margin-left: 84px;
}
.navdiv{
    width:100%;
    height: 22px;
}
#navtab1{
    background-color: #FE3F3F;
    opacity: 75.6%;
}
#navtab2{
    background-color: #FE3F3F;
    opacity: 93%;
}
#navlist{
    display: flex;
    color: white;
    position: relative;
    top:-33px;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}
#navlist div{
    margin:0 auto;
}
#navlist div input{
    border-radius: 30px;
    width: 528px;
    height: 24px;
    padding-left: 30px;
    position: relative;
    top: -3px;
}

footer{
    background-color: #DF2800;  /*d33a2c*/
    color:white;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Georgia,Serif;
    font-size: 20px;
}
#footercontent1, #footercontent2{
    display: flex;
    flex-direction: row;
}
#newsletter{
    display: flex;
    justify-content: center;
}
#newsletter div p{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#newsletter div input{
    border-radius: 30px;
    width: 400px;
    height: 30px;
    padding-left: 30px;
}
.button{
    border: none;
    border-radius: 30px;
    background-color: #4CAF50;  /* #008CBA Blue */
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#content1, #content2{
    margin: 55px auto;
}
#content3, #content4{
    margin: 30px 280px;
}
#content1 div, #content2 div, #content3 div{
    width: 204px;
}
#content1 div, #content2 div, #content3 div, #content4 div{
    padding-bottom: 3px;
}