hr{
    width: 96%;
}
#Headtext{
    color: #fd5353fe;
    display: inline-block;
    margin-left: 3%;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 150%;
    font-weight: bold;
    letter-spacing: 3px;
}

#ctext{
    color: #fd5353fe;
    display: inline-block;
    margin-left: 3%;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 130%;
    font-weight: bold;
}

#craftie{
    position: absolute;
    left: 15%;
    top: -94%;
    animation: move 1s ease-in-out 1s 1;
}

@keyframes move {
    to{
        left:85%
    }
}

#top{
    position: relative;
    top: 28px;
}

#backgd{
    background-image: url(../Images/background.png);
    background-size: cover;
    border-radius: 40px;
    margin: 40px auto;
    width:70%;
    height:fit-content;
    padding: 0px 30px;
    position: relative;
    top: 10px;
}

#creditbox{
    background-color: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    width: 73%;
    margin: 0 auto;
    padding: 27px;
}

.ncard{
    float: right;
    cursor: pointer;
    color: #FE981B;
}

.cardarea{
    padding: 15px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1.5px solid #0000006e;
    border-radius: .375rem;
    padding: 16px;
}
.cardarea h5{
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 14px;
}
.cardarea p{
    margin-top: 0px;
    margin-bottom: 16px;
}
.cardarea:hover{
    transform: scale(1.02);
}
#CreditButton{
    color:white;
    background: #5ea2ecfe;/*0b5ed7*/
    border-radius: 30px;
    border: none;
    margin:0; 
    padding:6px 0px;
    cursor: pointer;
    border-radius: .375rem;

}
#CreditButton:hover{
    background: #3e90e8fe;
}

input:focus{
    outline: none;
}

input[type=submit]
{
    background: #FE981B;
    color: white;
    font-size: 18px;
    cursor: pointer;
    width: 25%;
    text-align: center;
}

form{
    margin: 35px auto;
}
#CreditForm input[type="text"], #CreditForm input[type="number"], #CreditForm input[type="date"], #CreditForm input[type="password"],
    #CreditFormU input[type="text"], #CreditFormU input[type="number"], #CreditFormU input[type="date"], #CreditFormU input[type="password"]{
    border: 1px solid #0009;
    border-radius: .375rem; 
    padding: 7px;
    text-indent: 1ch;
}

#CardFormBox form label, #CardFormBoxU form label{
    padding: 15px 0;
}

#CardFormBox, #CardFormBoxU {
    display: none;
    /* display: block; */
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
}
.Formbox, .FormboxU{
    /* background-color: #f9f9f9f0; */
    /* background-color: #ebebeb69; */
    background: url(../Images/background.png);
    /* background-size: 100%; */
    min-height: 60%;
    top: 9.5vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 11;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.arrow1{
    cursor: pointer;
    color: black;
    margin-left: 3%;
    font-size: 26px;
}
.FormRow{
    display: flex;
    justify-content: space-between;
    margin: 5% 0px;
}
.FormCol{
    display: flex;
    flex-direction: column;
}