hr{
    width: 96%;
}

#backgd{
    background-image: url(../Images/background.png);
    background-size: cover;
    border-radius: 40px;
    margin: 40px auto;
    width:70%;
    height:fit-content;
    padding: 0px 30px;
    position: relative;
    top: 10px;
}

#mainbox1, #mainbox2, #mainbox3, #mainbox4{
    background-color: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    width: 73%;
    margin: 0 auto;
    padding: 27px;
}
#mainbox2, #mainbox4{
    display: none;
}

/* .obtn{
    width: 88%;
    border: none;
    /* border-radius: 30px; */
    /* color: white;
    padding: 10px 24px;
    display: inline-block; */
    /* font-size: 16px; */
    /* font-size: 1.41vw;
    margin: 4px 7%;
    cursor: pointer;
    background: #fd5353fe; 
}  */
/* .obtn:hover{
    background: #ff4545fe;
} */
/* .arrw{
    float: right;
    transform: scale(2);
} */
/* .accopt{
    width: 92%;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
} */

#toptext{
    text-align: center;
    font-size: xx-large;
}

/* form{
    margin: 35px 0;
}
form label{
    font-weight: bold;
    padding: 15px 0;
}
form input{
    border: solid 1px black;
    border-style: none none solid none;
    padding: 12px 15px;
    width: 70%;
    text-indent: 1ch;
}
.link{
    float: right;
    cursor: pointer;
    color: #FE981B;
}
.choose{
    position: relative;
    top: -35px;
}
#box1, #box3{
    display: block;
}
#box2, #box4{
    display: none;
} */

#atext{
    color: #fd5353fe;
    display: inline-block;
    margin-left: 3%;
    margin-bottom: 10px;
    margin-top: 5%;
    font-size: 130%;
    font-weight: bold;
}


.addarea{
    padding: 15px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1.5px solid #0000006e;
    border-radius: .375rem;
    padding: 16px;
}
.addarea h5{
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 14px;
}
.addarea p{
    margin-top: 0px;
    margin-bottom: 16px;
}
.addarea:hover{
    transform: scale(1.02);
}
form{
    margin: 35px auto;
}
#AddressForm input[type="text"], #AddressForm input[type="number"]{
    border: 1px solid #0009;
    border-radius: .375rem; 
    padding: 7px;
    text-indent: 1ch;
}
input:focus{
    outline: none;
}
#AddFormBox form label{
    padding: 15px 0;
}

input[type=submit]
{
    background: #FE981B;
    color: white;
    font-size: 18px;
    cursor: pointer;
    width: 25%;
    text-align: center;
}

#AddressButton{
    color:white;
    background: #5ea2ecfe;/*0b5ed7*/
    border: none;
    margin:0; 
    padding:6px 0px;
    cursor: pointer;
    border-radius: .375rem;
}
#AddressButton:hover{
    background: #3e90e8fe;
}

#AddFormBox{
    display: none;
    /* display: block; */
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
}
.Formbox{
    /* background-color: #f9f9f9f0; */
    /* background-color: #ebebeb69; */
    background: url(../Images/background.png);
    /* background-size: 100%; */
    min-height: 60%;
    top: 9.5vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 11;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.arrow1{
    cursor: pointer;
    color: black;
    margin-left: 3%;
    font-size: 26px;
}
.FormRow{
    display: flex;
    justify-content: space-between;
    margin: 5% 0px;
}
.FormCol{
    display: flex;
    flex-direction: column;
}


.item{
    display: grid;
    grid-template-columns: 29% 50% 18%;
    /* column-gap: 11%; */
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    width: 87%;
    margin: 14px auto;
    padding: 27px;
    justify-content: center;
    align-items: center;
}
.item:hover{
    transform: scale(1.01);
}

.text1{
    font-weight: bolder;
    font-size: x-large;
}
.text2, .text3, s{
    font-weight: bold;
    font-size: large;
}
#pqnt{
    width: 31%;
    height: 5vh;
    background-color: white;
    border: 1px solid black;
    border-radius: .375rem;
    padding-top: 2.4px;
}
#min, #max{
    display: inline;
    box-sizing: content-box;
    background-color: #f9f9f9f0;
    color: black;
    width: 18px;
    height: 19px;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: 3px solid #aeacac;
}
button[type=submit]
{
    background: #FE981B;
    color: white;
    font-size: 18px;
    cursor: pointer;
    width: 25%;
    text-align: center;
}
button[type=submit]:hover
{
    background: #ff930f;
}
/* .continue{
    color:white;
    background-color: #FE981B;
    width:14%;
    border-radius: 20px;
} */

.cardarea{
    padding: 15px;
    width: 90%;
    border: solid 1px black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ncard{
    float: right;
    cursor: pointer;
    color: #FE981B;
}
#box4 form input{
    border: solid 1px black;
    border-style: none none solid none;
    padding: 12px 15px;
    width: 70%;
    text-indent: 1ch;
}
input:focus{
    outline: none;
}
#box4 form label{
    font-weight: bold;
    padding: 15px 0;
}
#ccard{
    width: 100%;
}
.order{
    margin-top: 20px;
}
input[type="radio"]{
    width:3%;
}
div#text *{
    margin: 5px 0;
}
.paymentopt{
    width: 93%;
    margin: 10px;
}