.PRODUCTGALLERY{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width:1225px;
    height:300px;  
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x:scroll;
    overflow-y:hidden;
    scroll-behavior: smooth;
}

.PRODUCTGALLERY:-webkit-scrollbar{
    display:none;
    -ms-overflow-style: none;
    scrollbar-width: 0px;
    width: 0px;
}
.PRODUCT{
    display: flex;
    position: relative;
    top:2px;
    padding: 0px 10px;
    justify-content: space-evenly;
    align-items: center;
}

.leftArrow{
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    top:50%;
    left:5%;
    /* left: 4px;
    top: 136px; */
    opacity: 60%;
}
.rightArrow{
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    top:50%;
    left:-5%;
     /* float: right; */
    opacity: 60%;
}

.AreaHeader{
    font-size: x-large;
    letter-spacing: .1cm;
    margin: auto 10%;
}
.ProductSlider{
    /* position: relative; */
    display: flex;
    margin: 40px auto;
    /* margin-left: auto;
    margin-right: auto; */
    height: 300px;
    width: 1325;
}
.ProductSliderItemPage{
    /* position: relative; */
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
    height: 300px;
    width: 1103px;
}

