hr{
    width: 96%;
}
#Headtext{
    color: #fd5353fe;
    display: inline-block;
    margin-left: 3%;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 150%;
    font-weight: bold;
    letter-spacing: 3px;
}

#craftie{
    position: absolute;
    left: 15%;
    top: -94%;
    animation: move 1s ease-in-out 1s 1;
}

@keyframes move {
    to{
        left:85%
    }
}

#top{
    position: relative;
    top: 28px;
}

#backgd{
    background-image: url(../Images/background.png);
    background-size: cover;
    border-radius: 40px;
    margin: 40px auto;
    width:70%;
    height:fit-content;
    padding: 0px 30px;
    position: relative;
    top: 10px;
}

#Box{
    background-color: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    width: 73%;
    margin: 0 auto;
    padding: 27px;
}
label{
    font-size: 18px;
}
#ProfileForm input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    height: 40px;
    padding-left: 12px;
    /* border: 1px solid #dee2e6;
    border-radius: .375rem; */
    font-size: 16px;
    color: #000000d9;
}
input:focus{
    outline: none;
}
#subbtn {
    background: #FE981B;
    width: 20%;
    border-radius: 20px;
    font-size: 18px;
    margin: 10px 40%;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    padding-bottom: 26px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}


.Top3Colours{
    position:relative;
    top: -28px;
    width:100%;
    height:3px;
    z-index:2;
}

.bottom3Colours{
    position:relative;
    bottom:-28px;
    width:100%;
    height:3px;
    /* margin-left: 50%; */
}
#red{
    position:absolute;
    width: 33.3%;
    height: 3px;
    background-color: #fb3131ff;
}
#yellow{
    position:absolute;
    left:33.3%;
    width: 33.3%;
    height: 3px;
    background-color: #ffd335ff;
}
#blue{
    position:absolute;
    left:66.6%;
    width: 33.3%;
    height: 3px;
    background-color: #507deaff;
}