ul{
    list-style:none;
    display:flex;
}

.CRAFT{
    position: relative;
    width: 270px;
    left: 2px;
    text-align: left;
}

.CRAFT h1{
    font-size: 25.38976097px;
    font-weight:2;
    color:#4d4d4dff;
}

.FOCALPOINT{
    position: relative;
    top: -55px;
    left: -2px;
}

.FOCALPOINT h1{
    font-size: 63.38951874px;
    font-weight:2;
    color:#4d4d4dff;
}

.OF{
    display: inline;
    position: relative;
    top: -110px;
    text-align: left;    
}
.OF h1{
    font-weight:2;
    font-size: 66px;
    color:#4d4d4dff;
}

.GOAN{
    display: inline;
    position: relative;
    top: -251px;
    left: 3px;
}

.GOAN ul{
    /* position: relative;
    right:30px;
    bottom:10px; */
    justify-content: center;
}

.GOAN ul li{
    font-family: Jokerman;
    font-size:80px;

}

.BLUE{
    color: #5ea2ecfe;
}

.RED{
    color: #fd5252ff;
}

.YELLOW{
    color: #ffe118ff;
}





.CREATIVITY{
    width:368.439px;
    height: 70.291px;
    /* position: absolute;
    top:110px;
    left:15px; */

}

.CREATIVITY h1{
    font-weight:2;
    font-size: 65.14629364px;
    color:#4d4d4dff;
}



.STAND{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    /* top:295px;
    left: 80px; */
    width:210px;
    height: 40px;
    transform: rotateZ(270deg);   
}
.VFL1{
    /* position: relative; */
    min-width: 210px;
    width:100%;
    height: 20px;
    font-family: "Century Gothic";
    font-size: 20.91184235px;
    color: #00000074;

}

.VFL2{
    /* position: relative; */
    width:198.902px;
    height: 20px;
    min-width: 210px;
    font-family: "Century Gothic";
    font-size: 20.91184235px;
    color: black;
}