.MapArea{
    /* position:relative; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 98.8vw;
    height: 40%;
    margin: 35px 0;
}

#map{
    display: flex;
    flex-direction: row;
}
.GoaMAP{
    height: 100px;
    width: 275px;
}

.textAreaMap{
    position: relative;
    top: 20%;
    display: inline-block;
    width: 180px;
    height: 250px;
}

#MapText1{
    color:#4d4d4dff;
    font-size: 35px;
}

#MapText2{
    color: #2a83e5ff;
    font-size: 55px;
}

#MapText3{
    color: #fd5252ff;
    font-size: 54px;
}

#MapText4{
    color: #4d4d4dff;
    font-size: 40px;
}

#MapText5{
    color: #2a83e5ff;
    font-size: 53px;
}

#MapText6{
    color: #fd5252ff;
    font-size: 53px;
}

#MapText7{
    color: #fecc21ff;
    font-size: 53px;
}

#leftQuote, #RightQuote{
    align-self: flex-end;
    margin-bottom: 5%;
    margin-left: 3%;
    width: 283px;
    color: #4d4d4dff;
    font-size: 15px;
    bottom: 15%;;
    opacity:90%;
}
#MidQuote{
    margin-left: 45%;
    width: 100%;
    height: 50%;
    display: flex;
    color: #4d4d4dff;
    font-size: 15px;
    opacity:90%;
    
}
#MidQuote span{
    align-self: flex-end;
}


.MapSideBOX{
    width: 249px;
    height: 89px;
    background-color: #f6f6f6ff;
}

#LeftBox, #RightBox{
    align-self: center;
}

.TriColourContainer{
    display: flex;
    width: 37%;
    height: 15px;  
}

#leftTriColor{
    flex-direction: row;
}

#rightTriColor{
    flex-direction: row-reverse;
    position: relative;
    right: -63.5%;
}
#BlueMapBox{
    background-color: #5ea2ebff;
    width:34%;
    height:100%;
}
#RedMapBox{
    background-color: #fd5252ff;
    width:34%;
    height:100%;
}
#YellowMapBox{
    background-color: #fecc21ff;
    width:34%;
    height:100%;
}