@import url("door.css");

body{
    margin: 0;
    padding: 0;
    font-family: "century gothic";
    display: grid;
    /* grid-template-rows: 17.7vh 100vh 10vh; */
    grid-template-rows: 18% 82% 30%;
    height: 100vh;
}

header{
    grid-row: 1/2;
}
main{
    grid-row: 2/3;
    background-image: url(../Micro_Webpage_Elements/FrontPageElemts/BackgroundImg1.png);
    background-size: 1519.2px 606.133px;
    height:100%;
    width:100%;
    display: grid;    
    grid-template-columns: 31% 44% 22%;
    grid-template-rows: 22% 33% 33%;
}

footer{
    grid-row: 3/4;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.col1{
    grid-column: 1/2;
    grid-row: 1/2;
}
#PromoAd{
    grid-column: 3/4;
    position: relative;
    left: 17px;
}
.RightImage{
    grid-area: 2/3/4/4;
    position: relative;
    top: -14px;
}
.BOARD{
    grid-area: 2/2/4/3;
    width:363px;
    height: 244px;
    position: relative;
    top: -4.60081vh;
}
.doorSAFE_AREA{
    grid-area: 2/1/4/2;
    width:305px;
    height: 305px;
    position:relative;
    left: 45px;
    top:33px;
}

.RightImage{
    /* width:350px; */
    width:22.786458333333332vw;
    /* height: 400px; */
    /* height: auto; */
    /* height: 54.12719891745602vh; */
}

h1 {
    /* font-size: 38; */
    font-size: 2.4739583333333335vw;
}

#PromoAd1{
    color: #a8a8a896;
    opacity: 82.7;
}

#PromoAd2{
    width: 210px;
    color: #3d3d3dbc;
    opacity: 58;
    position:absolute;
    top: 45px;
    visibility: hidden;
    animation: fade 8s ease-in infinite;
}
#PromoAd3{
    width: 210px;
    color: #3d3d3dbc;
    opacity: 58;
    position:absolute;
    top: 45px;
    visibility: hidden;
    animation: fade 8s ease-in 2s infinite;
}
#PromoAd4{
    width: 210px;
    color: #3d3d3dbc;
    opacity: 58;
    position:absolute;
    top: 45px;
    visibility: hidden;
    animation: fade 8s ease-in 4s infinite;
}
#PromoAd5{
    width: 210px;
    color: #3d3d3dbc;
    opacity: 58;
    position:absolute;
    top: 45px;
    visibility: hidden;
    animation: fade 8s ease-in 6s infinite;
}

@keyframes fade{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
}

.Craftie{
    width:250px;
    height:184px;
}


#HelpBar1{
    /* width:20px; */
    width:1.3020833333333333vw;
    /* height: 40px; */
    height: 5.412719891745602vh;
    /* position: relative;
    left:0px;
    top:160px; */
    background-color: #5ea2ecfe;
    opacity: 86.9;
}
#HelpBar2{
    /* width:20px; */
    width:1.3020833333333333vw;
    /* height: 40px; */
    height: 5.412719891745602vh;
    /* position: relative;
    left:0px;
    top:180px; */
    background-color: #fd5353fe;
    opacity: 86.9;
}

#HelpBar3{
    /* width:20px; */
    width:1.3020833333333333vw;
    /* height: 40px; */
    height: 5.412719891745602vh;
    /* position: relative;
    left:0px;
    top:200px; */
    background-color: #ffe951fe;
    opacity: 86.9;
}

#HelpBar1:hover{
    width:50px;
    transition: width 0.1s;
}
#HelpBar2:hover{
    width:50px;
    transition: width 0.1s;
}
#HelpBar3:hover{
    width:50px;
    transition: width 0.1s;
}


.Advertise{
    position: relative;
    /* top: 19px;
    left: -490px; */
    /* z-index: 2; */
    font-family: "century gothic";
    color:rgb(35, 35, 35);
    top:40px;
    left:100px;
    max-width:210px;
    height: 150px;  
    top: -142px; 
}