
.ImageLetterSafeArea{
    /* position: relative; */
    display:flex;
    height: 500px;
    width: 1500px;
    /* top: 421px; */
    flex-direction: row;
    justify-content: flex-start;
}


.ImageLetter1{
    position: relative;
    width:750px;
    height: 500px;
    opacity: 80%;
    z-index: 0;

}

.ImageLetter2{
    position: relative;
    height: 500px;
    width:750px;
    opacity: 80%;
    z-index: 0;

}

img{

    z-index: 0;
}

#TraditonText{
    position: absolute;
    left: 60px;
    top: 117px;
    font-family: "century gothic";
    font-size: 88px;
    color: white;
    z-index: 1;
}

#ConservedText{
    position: absolute;
    left: 60px;
    top: 51px;
    font-family: "century gothic";
    font-size: 72px;
    color: white;
    z-index: 1;
}

#OtherText1{
    position: absolute;
    width: 373px;
    left: 66px;
    top: 246px;
    font-family: "century gothic";
    font-size: 28px;
    color: white;
    z-index: 1;
}


#ExtraIdeaText{
    position: absolute;
    left: 60px;
    top: 117px;
    font-family: "century gothic";
    font-size: 88px;
    color: white;
    z-index: 1;
}

#IdeaText{
    position: absolute;
    left: 60px;
    top: 51px;
    font-family: "century gothic";
    font-size: 72px;
    color: white;
    z-index: 1;
}

#OtherText2{
    position: absolute;
    width: 373px;
    left: 66px;
    top: 246px;
    font-family: "century gothic";
    font-size: 28px;
    color: white;
    z-index: 1;
}

#leftTriColorImageLetterTOP{
    flex-direction: row;
    position: absolute;
    top: -15px;
    left: 0px;
}

#rightTriColorImageLetterTOP{
    flex-direction: row-reverse;
    position: absolute;
    top: -15px;
    right: 0px;
}

/* #leftTriColorImageLetterBOTTOM{
    flex-direction: row;
    position: absolute;
    bottom: -15px;
    left: 30px;
}

#rightTriColorImageLetterBOTTOM{
    flex-direction: row-reverse;
    position: absolute;
    bottom: -19px;
    right: 30px;
} */