header{
    display:flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;   
    padding: 10px 10px;
    position: fixed;
    z-index:6;
    height: 98px;
}

#logo{
    margin-left:10px;
    padding: 5px 5px;
    width:200px;
    height: 50px;
    top:10px;
}

input[type="search"]{
    width:450px;
    height: 30px;
    font-family: "century gothic";
    transition: width 1s;

}
input[type="search"]:focus{
    width:550px;
}
.Icons{
    width:20px;
    height: 20px;
}

.icons{
    position: relative;
    right:20px;
}

.icons li{
    display:inline-block;
    padding: 0px 40px;
}
.icons ul li img:hover{
    position: relative;
    top:-1px;
    left:-1px;
    cursor: pointer;
}
.lineBreaker{
    flex-basis: 100%;
    height: 1px;

}

.nav{
    display:flex;
}

.NavLinks{
    list-style: none;
    text-underline-offset: none;
        margin-left: -30px;
}
.NavLinks li{
    display:inline-block;
    padding: 0px 29px;
    font-family: "Century Gothic";
    font-size: 14px;
    cursor: pointer;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 7;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 12px 16px;
}

.dropdown a:hover{
    background-color: #ddd;
}

.NavLinks li:hover{
    font-weight: bold;
}

.NavLinks li:hover .dropdown{
    display: block;
    font-weight: normal;
}