body{
    margin: 0;
    padding: 0;
    font-family: "century gothic";
}
header{
    display: grid;
    grid-template-columns: 25% auto auto;
    grid-template-rows: 11vh 45%;
    background-color: white;
    justify-content: space-between;
    align-items: center;   
    width: 100%;
    position: fixed;
    z-index:6;
}

#logo{
    grid-column: 1/2;
    margin-left:10px;
    padding: 5px 5px;
    width:200px;
    height: 50px;
    top:10px;
}

#searchvalue{
    grid-column: 2/3;
    /* width:450px; */
    width:29.296875vw;
    height: 30px;
    font-family: "century gothic";
    transition: width 1s;
}

#searchvalue:focus{
    width: 35.80729167vw;
}

.Icons{
    width:20px;
    height: 20px;
}

.icons{
    grid-column: 3/4;
    float: right;
}

nav{
    grid-row: 2/3;
    grid-column: 1/2;
    width: 300%;
}

.icons li{
    display:inline-block;
    padding: 0px 37px;
}

.icons ul li img:hover{
    position: relative;
    top:-1px;
    left:-1px;
    cursor: pointer;
}

.NavLinks{
    list-style: none;
    text-underline-offset: none;
    margin-left: -30px;
}

.NavLinks li{
    display:inline-block;
    padding: 0px 29px;
    font-family: "Century Gothic";
    font-size: 14px;
    cursor: pointer;
}

.dropdown{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 7;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 12px 16px;
}

.dropdown a:hover{
    background-color: #ddd;
}

.NavLinks li:hover{
    font-weight: medium;
    position: relative;
    top:-1px;
    left:-1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

}

.NavLinks li:hover .dropdown{
    display: block;
    font-weight: normal;
}