@import url("door.css");

body{
    margin: 0;
    padding: 0;
    font-family: "century gothic";
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* input{
    width:550px;
    height: 30px;
    font-family: "century gothic";
} */




.BackgroundIMG{
    height: 630px;
    width:100%;
    position: absolute;
    top:110px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index:-1;
}

.RightImage{
    position:absolute;
    display: flex;
    top:240px;
    right: 25px;
    width:350px;
    height: 400px;
    z-index: 1;
}

h1 {
    font-family: "Century Gothic";
    font-size: 38;
   
}

#PromoAd1{
    color: #a8a8a896;
    opacity: 82.7;
    position:absolute;
    right:140px;
    top:120px;
}

#PromoAd2{
    width: 210px;
    color: #3d3d3dbc;
    opacity: 58;
    position:absolute;
    right:140px;
    top:160px;
    visibility: hidden;
    animation: fade 8s ease-in infinite;
}
#PromoAd3{
    width: 210px;
    color: #3d3d3dbc;
    opacity: 58;
    position:absolute;
    right:140px;
    top:160px;
    visibility: hidden;
    animation: fade 8s ease-in 2s infinite;
}
#PromoAd4{
    width: 210px;
    color: #3d3d3dbc;
    opacity: 58;
    position:absolute;
    right:140px;
    top:160px;
    visibility: hidden;
    animation: fade 8s ease-in 4s infinite;
}
#PromoAd5{
    width: 210px;
    color: #3d3d3dbc;
    opacity: 58;
    position:absolute;
    right:140px;
    top:160px;
    visibility: hidden;
    animation: fade 8s ease-in 6s infinite;
}

@keyframes fade{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
}

.Board{
    width:370.1px;
    height: 460.1px;
    position:absolute;
    left: 425px;
    top:240px;
   
}
.Craftie{
    width:250px;
    height:184px;
    position:absolute;
    left:40px;
    top:520px;
}

.doorSAFE_AREA{
    width:305px;
    height: 305px;
    position:absolute;
    left: 45px;
    top:400px;
}

#DecoSize{
    position:absolute;
    left: 90px;
    top:320px;
}

#HelpBar1{
    width:20px;
    height: 40px;
    position: relative;
    left:0px;
    top:160px;
    background-color: #5ea2ecfe;
    opacity: 86.9;
}
#HelpBar2{
    width:20px;
    height: 40px;
    position: relative;
    left:0px;
    top:180px;
    background-color: #fd5353fe;
    opacity: 86.9;
}

#HelpBar3{
    width:20px;
    height: 40px;
    position: relative;
    left:0px;
    top:200px;
    background-color: #ffe951fe;
    opacity: 86.9;
}

#HelpBar1:hover{
    width:50px;
    transition: width 0.1s;
}
#HelpBar2:hover{
    width:50px;
    transition: width 0.1s;
}
#HelpBar3:hover{
    width:50px;
    transition: width 0.1s;
}







.DoorTEXT{
    position: absolute;
    font-family: "century gothic";
    color: rgb(35, 35, 35);
    top: 112px;
    left: 231px;
    width: 120px;
    height: 70px;
    opacity: 1;
    transition: .3s;
}

#knock{
 position: absolute;
 top:20px;
}

#meet{
    position: absolute;
    top:40px;
}

#DoorTxt{
    position: absolute;
    top:60px;
    font-weight: 600;
}







.Advertise{
    position: relative;       z-index: 2;
    font-family: "century gothic";
    color:rgb(35, 35, 35);
    top:40px;
    left:100px;
    max-width:210px;
    height: 150px;
    
}


